{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block container %}
  <h1>{{ title }}</h1>

  <form class="form form-horizontal" action="{{ action }}" method="post" enctype="multipart/form-data">
    {% if method != 'POST' %}
      <input type="hidden" name="_method" value="{{method}}" />
    {% endif %}
    {{ form.csrf_token }}

    {{ wtf.form_field(form.name, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {{ wtf.form_field(form.description, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {{ wtf.form_field(form.qgis_datasource, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {{ wtf.form_field(form.thumbnail_file, form_type="horizontal", horizontal_columns=('sm', 2, 5), accept='image/*') }}
    {% if form.thumbnail_present %}
    {{ wtf.form_field(form.remove_thumbnail, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {% endif %}
    {{ wtf.form_field(form.qwc2_bg_layer_config, rows=8, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}

    {{ wtf.form_field(form.submit, class="col-sm-offset-2 btn btn-primary") }}
  </form>
{% endblock %}
